<p id="notice"><%= notice %></p>
<h1>Red Maple Catalog</h1>
<h2>Welcome <%=@current_user.name%> </h2>
 <%= button_to 'View Wishlist', wishlists_url, method: :get %>
<% cache @products do %>
    <% @products.each do |product| %>
        <% cache product do %>
            <div class="entry">
                <%= image_tag(product.image_url) %> 
                <h3><%= product.title %></h3>
            <!--   <%= sanitize(product.description) %> -->
                <div class="price_line">
                    <%= sanitize(product.description) %>
                </div>
                    
                <div class="price_line">
                    <span class="price"><%= product.price %></span> 
                    <%= button_to 'Add to Cart', line_items_path(product_id: product) %>
                    <%= button_to 'Add to Wishlist', wishlists_path(product_id: product), method: :post %>
                    
                </div>
            </div>
        <% end %>
    <% end %>
<% end %>
