<!DOCTYPE html>


<html>
<head>
  <title>Red Maple Furniture Online Store</title>
    <%= stylesheet_link_tag "application", media: "all",
    "data-turbolinks-track" => 'reload' %>
  <%=  javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %> 
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">
  <div id="banner">
    <%= image_tag 'logo.png', alt: 'The Red Maple Furniture', size:'80x60' %> 
    <span class="title"><%= @page_title %></span>
  </div>
  <div id="columns">
    <div id="side"> 
      <div id="cart">
        <% if @cart %>
          <%= render @cart %>
        <% end %>
      </div>
    

    <% if session[:user_id] %> 

      <ul>
        <li><%= link_to 'Logout', logout_path, method: :delete %> </li>
        <li><%= link_to 'Homepage', store_index_path %></li>
      </ul>
    <% end %>
     </div> 
   
   <div id="main">
    <%= yield %>
   </div>
  </div>
</body>
</html>

